@import url("https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap");
body {
  margin: 0;
  font-family: "East Sea Dokdo", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/background.png");
}
/* Disable dragging and selecting html elements (like links, images etc...) in Electron */
/* *,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
