@import url(https://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
body {
  margin: 0;
  font-family: "Jeju Hallasan", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/background.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
